/* Write your CSS code here */
body{
    height:100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(180, 239, 239,0.5);
}
.container{
    height:500px;
    width:250px;
    background-color: white;
    border-radius: 7px 7px 0px 0px;
}
.image img{
    height:150px;
    width:250px;
    background-size: contain;
    opacity: 80%;
    border-radius: 6px 6px 0px 0px;
}
.couch{
    display:flex;
    margin-left:20px;
}
.couch1{
    margin-right:20px;
    
}
.status{
    font-size:12px;
}
i{
    font-size:13px;
    color:rgb(2, 101, 105,0.8)
}